In [1]:
from functions import reterive_clean_data

In [2]:
# it s working 
df_match,df_team,df_player = reterive_clean_data('general')

In [3]:
df_player

,id_player,player_name,birthday,height,weight,id_attribute,player_id,date,overall_rating,potential,...,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,season
0,1,Aaron Appindangoye,1992-02-29 00:00:00,182.88,187,1,505942,2016-02-18,67.0,71.0,...,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0,2015/2016
1,1,Aaron Appindangoye,1992-02-29 00:00:00,182.88,187,2,505942,2015-11-19,67.0,71.0,...,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0,2015/2016
2,1,Aaron Appindangoye,1992-02-29 00:00:00,182.88,187,3,505942,2015-09-21,62.0,66.0,...,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0,2015/2016
3,1,Aaron Appindangoye,1992-02-29 00:00:00,182.88,187,4,505942,2015-03-20,61.0,65.0,...,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0,2014/2015
4,1,Aaron Appindangoye,1992-02-29 00:00:00,182.88,187,5,505942,2007-02-22,61.0,65.0,...,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0,2006/2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183973,11075,Zvjezdan Misimovic,1982-06-05 00:00:00,180.34,176,183974,39902,2009-08-30,83.0,85.0,...,83.0,22.0,31.0,30.0,9.0,20.0,84.0,20.0,20.0,2009/2010
183974,11075,Zvjezdan Misimovic,1982-06-05 00:00:00,180.34,176,183975,39902,2009-02-22,78.0,80.0,...,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0,2008/2009
183975,11075,Zvjezdan Misimovic,1982-06-05 00:00:00,180.34,176,183976,39902,2008-08-30,77.0,80.0,...,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0,2008/2009
183976,11075,Zvjezdan Misimovic,1982-06-05 00:00:00,180.34,176,183977,39902,2007-08-30,78.0,81.0,...,53.0,28.0,32.0,30.0,9.0,20.0,73.0,20.0,20.0,2007/2008
183977,11075,Zvjezdan Misimovic,1982-06-05 00:00:00,180.34,176,183978,39902,2007-02-22,80.0,81.0,...,53.0,38.0,32.0,30.0,9.0,9.0,78.0,7.0,15.0,2006/2007