In [1]:
from functions import reterive_clean_data

In [2]:
df = reterive_clean_data('player')

/home/ali/Desktop/EuroFootballClustering/functions.py:46: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_player['potential'].fillna(df_player['potential'].mean(), inplace = True)
/home/ali/Desktop/EuroFootballClustering/functions.py:47: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_player['overall_rating'].fillna(df_player['overall_rating'].mean(), inplace = True)

In [3]:
from config.config import config
df

,id_player,player_name,birthday,height,weight,id_attribute,player_id,date,overall_rating,potential,...,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,season
0,1,Aaron Appindangoye,1992-02-29 00:00:00,0.156553,1.207761,1,505942,2016-02-18,-0.227757,-0.374070,...,-0.452114,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0,2015/2016
1,1,Aaron Appindangoye,1992-02-29 00:00:00,0.156553,1.207761,2,505942,2015-11-19,-0.227757,-0.374070,...,-0.452114,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0,2015/2016
2,1,Aaron Appindangoye,1992-02-29 00:00:00,0.156553,1.207761,3,505942,2015-09-21,-0.939490,-1.134265,...,-0.452114,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0,2015/2016
3,1,Aaron Appindangoye,1992-02-29 00:00:00,0.156553,1.207761,4,505942,2015-03-20,-1.081837,-1.286304,...,-0.516582,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0,2014/2015
4,1,Aaron Appindangoye,1992-02-29 00:00:00,0.156553,1.207761,5,505942,2007-02-22,-1.081837,-1.286304,...,-0.516582,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0,2006/2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183973,11075,Zvjezdan Misimovic,1982-06-05 00:00:00,-0.240644,0.478747,183974,39902,2009-08-30,2.049789,1.754477,...,1.804248,22.0,31.0,30.0,9.0,20.0,84.0,20.0,20.0,2009/2010
183974,11075,Zvjezdan Misimovic,1982-06-05 00:00:00,-0.240644,0.478747,183975,39902,2009-02-22,1.338056,0.994282,...,0.966171,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0,2008/2009
183975,11075,Zvjezdan Misimovic,1982-06-05 00:00:00,-0.240644,0.478747,183976,39902,2008-08-30,1.195710,0.994282,...,0.966171,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0,2008/2009
183976,11075,Zvjezdan Misimovic,1982-06-05 00:00:00,-0.240644,0.478747,183977,39902,2007-08-30,1.338056,1.146321,...,-0.129777,28.0,32.0,30.0,9.0,20.0,73.0,20.0,20.0,2007/2008
183977,11075,Zvjezdan Misimovic,1982-06-05 00:00:00,-0.240644,0.478747,183978,39902,2007-02-22,1.622749,1.146321,...,-0.129777,38.0,32.0,30.0,9.0,9.0,78.0,7.0,15.0,2006/2007

In [4]:
df_cluster=df.groupby('player_name').apply(lambda group : group[config.cluster_player].median()).reset_index()
df_new_cluster=df_cluster.drop('player_name',axis=1)
#df_new_cluster=df[config.cluster_player]

/tmp/ipykernel_53990/216686511.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_cluster=df.groupby('player_name').apply(lambda group : group[config.cluster_player].median()).reset_index()

In [5]:
df_new_cluster

,overall_rating,potential,height,weight,preferred_foot,attacking_work_rate,positioning,penalties,finishing,crossing,short_passing,long_passing,shot_power,aggression,free_kick_accuracy,defensive_work_rate
0,-0.939490,-1.134265,0.156553,1.207761,1.0,2.0,-0.586994,-0.452114,-0.312430,-0.354822,-0.101770,0.481912,-0.423789,0.126950,-0.583646,2.0
1,0.199283,0.538165,-1.829435,-1.509472,0.0,2.0,0.064880,0.192561,0.003418,1.272623,0.321875,0.690793,0.507898,0.313817,1.046374,2.0
2,-0.156583,0.386125,-1.829435,-0.382815,1.0,2.0,0.553786,0.514898,0.319266,0.807639,0.251267,0.342658,-0.051114,-0.122206,0.737232,2.0
3,0.056936,-0.678148,0.156553,1.936774,1.0,2.0,-1.619128,-1.161256,-1.523181,0.110163,0.180660,0.273031,0.197336,0.500685,-0.527439,2.0
4,0.768670,0.082047,0.156553,-0.979280,1.0,2.0,-1.510482,-0.709984,-0.891485,-0.587314,0.251267,-0.005476,-0.920689,0.251528,-1.426761,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10843,-0.085410,-0.069992,-0.240644,-0.979280,0.0,2.0,0.390818,0.385963,-0.628278,0.517024,0.321875,0.273031,-0.175339,0.998997,-0.302608,2.0
10844,0.199283,0.690204,0.553751,0.213651,1.0,2.0,0.553786,0.966171,-0.365071,-0.412945,-0.242985,-0.423237,-0.734351,0.625263,-0.696062,2.0
10845,1.693923,1.146321,-0.240644,0.478747,1.0,2.0,1.069853,1.159573,1.161528,1.359808,1.663418,1.665569,0.880573,-0.309073,1.608450,1.0
10846,-0.227757,-0.982226,0.156553,0.081103,1.0,2.0,0.825400,-0.194244,0.477190,-0.354822,0.392482,0.203404,0.073111,0.749841,-0.021570,2.0
10847,-0.298930,-0.069992,-1.035040,0.346199,0.0,2.0,0.934046,1.127339,0.766718,0.342655,0.039445,-0.388424,0.104167,0.936708,0.540506,2.0

#### 1)training the models and evaluate them

In [7]:
from sklearn.cluster import KMeans, AgglomerativeClustering, DBSCAN
from sklearn.metrics import silhouette_score, davies_bouldin_score


models={"kmeans":KMeans(n_clusters=2,random_state=42),"DBSCAN":DBSCAN(min_samples=3,eps=0.4),"Hiérarchique":AgglomerativeClustering(n_clusters=4)}

for name,model in models.items():
    clusters = model.fit_predict(df_new_cluster)
    if len(set(clusters))>1:
        silhouette = silhouette_score(df_new_cluster,clusters)
        db_score = davies_bouldin_score(df_new_cluster,clusters)
        print(f"Model : {name}, Silhouette Score : {silhouette}, Davies-Bouldin Score: {db_score}")
    else:
        print(f"Model: {name} resulted in only one cluster.")

Model : kmeans, Silhouette Score : 0.28044598243266455, Davies-Bouldin Score: 1.396302178725857
Model: DBSCAN resulted in only one cluster.
Model : Hiérarchique, Silhouette Score : 0.11710776782657675, Davies-Bouldin Score: 2.068086562860074