In [64]:
from functions import reterive_clean_data

In [65]:
df = reterive_clean_data('team')

/home/ali/Desktop/EuroFootballClustering/functions.py:46: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_player['potential'].fillna(df_player['potential'].mean(), inplace = True)
/home/ali/Desktop/EuroFootballClustering/functions.py:47: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_player['overall_rating'].fillna(df_player['overall_rating'].mean(), inplace = True)

In [66]:
df

,id_team,team_long_name,team_short_name,id_team_attribute,team_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,49119,FC Aarau,AAR,1,9930,2010-02-22 00:00:00,0.666667,0,NaN,0,...,0.568966,2,Organised,0.551020,2,0.645833,2,45,Normal,0
1,49119,FC Aarau,AAR,2,9930,2014-09-19 00:00:00,0.533333,0,48.0,2,...,0.724138,2,Organised,0.489796,2,0.416667,2,54,Normal,0
2,49119,FC Aarau,AAR,3,9930,2015-09-10 00:00:00,0.450000,0,41.0,2,...,0.724138,2,Organised,0.489796,2,0.416667,2,54,Normal,0
3,39393,Aberdeen,ABE,4,8485,2010-02-22 00:00:00,0.833333,1,NaN,0,...,0.827586,1,Organised,0.755102,2,0.958333,1,70,Wide,0
4,39393,Aberdeen,ABE,5,8485,2011-02-22 00:00:00,0.450000,0,NaN,0,...,0.517241,2,Organised,0.489796,2,0.479167,2,52,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1453,3,SV Zulte-Waregem,ZUL,1454,10000,2011-02-22 00:00:00,0.533333,0,NaN,0,...,0.534483,2,Organised,0.469388,2,0.500000,2,53,Normal,0
1454,3,SV Zulte-Waregem,ZUL,1455,10000,2012-02-22 00:00:00,0.566667,0,NaN,0,...,0.482759,2,Organised,0.428571,2,0.645833,2,53,Normal,0
1455,3,SV Zulte-Waregem,ZUL,1456,10000,2013-09-20 00:00:00,0.566667,0,NaN,0,...,0.172414,0,Organised,0.428571,2,0.708333,2,37,Normal,0
1456,3,SV Zulte-Waregem,ZUL,1457,10000,2014-09-19 00:00:00,0.566667,0,42.0,2,...,0.172414,0,Organised,0.428571,2,0.708333,2,37,Normal,0
1457,3,SV Zulte-Waregem,ZUL,1458,10000,2015-09-10 00:00:00,0.566667,0,42.0,2,...,0.172414,0,Organised,0.428571,2,0.708333,2,37,Normal,0

In [67]:
from config.config import config
df_new_cluster=df[config.cluster_team]

In [68]:
df_new_cluster

,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayPassing,chanceCreationPassing,chanceCreationCrossing,chanceCreationShooting,defencePressure,defenceAggression,defenceDefenderLineClass
0,0.666667,0,0.500000,0.661017,0.750000,0.568966,0.551020,0.645833,0
1,0.533333,0,0.600000,0.559322,0.716667,0.724138,0.489796,0.416667,0
2,0.450000,0,0.566667,0.559322,0.716667,0.724138,0.489796,0.416667,0
3,0.833333,1,0.833333,0.830508,0.833333,0.827586,0.755102,0.958333,0
4,0.450000,0,0.533333,0.542373,0.466667,0.517241,0.489796,0.479167,0
...,...,...,...,...,...,...,...,...,...
1453,0.533333,0,0.533333,0.525424,0.466667,0.534483,0.469388,0.500000,0
1454,0.566667,0,0.516667,0.440678,0.533333,0.482759,0.428571,0.645833,0
1455,0.566667,0,0.516667,0.440678,0.533333,0.172414,0.428571,0.708333,0
1456,0.566667,0,0.516667,0.440678,0.533333,0.172414,0.428571,0.708333,0
1457,0.566667,0,0.516667,0.440678,0.533333,0.172414,0.428571,0.708333,0

In [69]:
from sklearn.cluster import KMeans, AgglomerativeClustering, DBSCAN
from sklearn.metrics import silhouette_score, davies_bouldin_score


models={"kmeans":KMeans(n_clusters=2,random_state=42),"DBSCAN":DBSCAN(min_samples=5,eps=0.3),"Hiérarchique":AgglomerativeClustering(n_clusters=3)}

for name,model in models.items():
    clusters = model.fit_predict(df_new_cluster)
    if len(set(clusters))>1:
        silhouette = silhouette_score(df_new_cluster,clusters)
        db_score = davies_bouldin_score(df_new_cluster,clusters)
        print(f"Model : {name}, Silhouette Score : {silhouette}, Davies-Bouldin Score: {db_score}")
    else:
        print(f"Model: {name} resulted in only one cluster.")

Model : kmeans, Silhouette Score : 0.6058002531911456, Davies-Bouldin Score: 0.6177468634384143
Model : DBSCAN, Silhouette Score : 0.1536010698797808, Davies-Bouldin Score: 1.3429571302948142
Model : Hiérarchique, Silhouette Score : 0.48153206290216305, Davies-Bouldin Score: 0.910995634746577

In [70]:
df['clusters']=KMeans(n_clusters=2,random_state=42).fit_predict(df_new_cluster)

In [71]:
print(df[df['clusters']==1].head(25)['team_long_name'].to_list())

['Académica de Coimbra', 'Académica de Coimbra', 'ADO Den Haag', 'Ajax', 'Ajax', 'Arka Gdynia', 'AC Arles-Avignon', 'Arsenal', 'Arsenal', 'AJ Auxerre', 'FC Barcelona', 'Bari', 'CF Os Belenenses', 'SL Benfica', 'Borussia Mönchengladbach', 'Borussia Mönchengladbach', 'SC Braga', 'SC Braga', 'Brescia', 'Brescia', 'Carpi', 'Cesena', 'Córdoba CF', 'Cracovia', 'De Graafschap']